# Cache and logs (Symfony2)
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Email spool folder
/app/spool/*

# Cache, session files and logs (Symfony3)
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep

# Logs (Symfony4)
/var/log/*
!var/log/.gitkeep

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Managed by Composer
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/bin/*
!bin/console
!bin/symfony_requirements
/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/

# Composer PHAR
/composer.phar

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Embedded web-server pid file
/.web-server-pid
.env
.env.local
.env.test
docker-cmd.txt
docker-mysql/auto.cnf
docker-mysql/ib_buffer_pool
docker-mysql/ib_logfile0
docker-mysql/ib_logfile1
docker-mysql/ibdata1
docker-mysql/ibtmp1
docker-mysql/mysql/columns_priv.frm
docker-mysql/mysql/columns_priv.MYD
docker-mysql/mysql/columns_priv.MYI
docker-mysql/mysql/db.frm
docker-mysql/mysql/db.MYD
docker-mysql/mysql/db.MYI
docker-mysql/mysql/db.opt
docker-mysql/mysql/engine_cost.frm
docker-mysql/mysql/engine_cost.ibd
docker-mysql/mysql/event.frm
docker-mysql/mysql/event.MYD
docker-mysql/mysql/event.MYI
docker-mysql/mysql/func.frm
docker-mysql/mysql/func.MYD
docker-mysql/mysql/func.MYI
docker-mysql/mysql/general_log.CSM
docker-mysql/mysql/general_log.CSV
docker-mysql/mysql/general_log.frm
docker-mysql/mysql/gtid_executed.frm
docker-mysql/mysql/gtid_executed.ibd
docker-mysql/mysql/help_category.frm
docker-mysql/mysql/help_category.ibd
docker-mysql/mysql/help_keyword.frm
docker-mysql/mysql/help_keyword.ibd
docker-mysql/mysql/help_relation.frm
docker-mysql/mysql/help_relation.ibd
docker-mysql/mysql/help_topic.frm
docker-mysql/mysql/help_topic.ibd
docker-mysql/mysql/innodb_index_stats.frm
docker-mysql/mysql/innodb_index_stats.ibd
docker-mysql/mysql/innodb_table_stats.frm
docker-mysql/mysql/innodb_table_stats.ibd
docker-mysql/mysql/ndb_binlog_index.frm
docker-mysql/mysql/ndb_binlog_index.MYD
docker-mysql/mysql/ndb_binlog_index.MYI
docker-mysql/mysql/plugin.frm
docker-mysql/mysql/plugin.ibd
docker-mysql/mysql/proc.frm
docker-mysql/mysql/proc.MYD
docker-mysql/mysql/proc.MYI
docker-mysql/mysql/procs_priv.frm
docker-mysql/mysql/procs_priv.MYD
docker-mysql/mysql/procs_priv.MYI
docker-mysql/mysql/proxies_priv.frm
docker-mysql/mysql/proxies_priv.MYD
docker-mysql/mysql/proxies_priv.MYI
docker-mysql/mysql/server_cost.frm
docker-mysql/mysql/server_cost.ibd
docker-mysql/mysql/servers.frm
docker-mysql/mysql/servers.ibd
docker-mysql/mysql/slave_master_info.frm
docker-mysql/mysql/slave_master_info.ibd
docker-mysql/mysql/slave_relay_log_info.frm
docker-mysql/mysql/slave_relay_log_info.ibd
docker-mysql/mysql/slave_worker_info.frm
docker-mysql/mysql/slave_worker_info.ibd
docker-mysql/mysql/slow_log.CSM
docker-mysql/mysql/slow_log.CSV
docker-mysql/mysql/slow_log.frm
docker-mysql/mysql/tables_priv.frm
docker-mysql/mysql/tables_priv.MYD
docker-mysql/mysql/tables_priv.MYI
docker-mysql/mysql/time_zone.frm
docker-mysql/mysql/time_zone.ibd
docker-mysql/mysql/time_zone_leap_second.frm
docker-mysql/mysql/time_zone_leap_second.ibd
docker-mysql/mysql/time_zone_name.frm
docker-mysql/mysql/time_zone_name.ibd
docker-mysql/mysql/time_zone_transition.frm
docker-mysql/mysql/time_zone_transition.ibd
docker-mysql/mysql/time_zone_transition_type.frm
docker-mysql/mysql/time_zone_transition_type.ibd
docker-mysql/mysql/user.frm
docker-mysql/mysql/user.MYD
docker-mysql/mysql/user.MYI
docker-mysql/ON.000001
docker-mysql/ON.000002
docker-mysql/ON.000003
docker-mysql/ON.000004
docker-mysql/ON.000005
docker-mysql/ON.000006
docker-mysql/ON.000007
docker-mysql/ON.index
docker-mysql/performance_schema/accounts.frm
docker-mysql/performance_schema/cond_instances.frm
docker-mysql/performance_schema/db.opt
docker-mysql/performance_schema/events_stages_current.frm
docker-mysql/performance_schema/events_stages_history.frm
docker-mysql/performance_schema/events_stages_history_long.frm
docker-mysql/performance_schema/events_stages_summary_by_account_by_event_name.frm
docker-mysql/performance_schema/events_stages_summary_by_host_by_event_name.frm
docker-mysql/performance_schema/events_stages_summary_by_thread_by_event_name.frm
docker-mysql/performance_schema/events_stages_summary_by_user_by_event_name.frm
docker-mysql/performance_schema/events_stages_summary_global_by_event_name.frm
docker-mysql/performance_schema/events_statements_current.frm
docker-mysql/performance_schema/events_statements_history.frm
docker-mysql/performance_schema/events_statements_history_long.frm
docker-mysql/performance_schema/events_statements_summary_by_account_by_event_name.frm
docker-mysql/performance_schema/events_statements_summary_by_digest.frm
docker-mysql/performance_schema/events_statements_summary_by_host_by_event_name.frm
docker-mysql/performance_schema/events_statements_summary_by_program.frm
docker-mysql/performance_schema/events_statements_summary_by_thread_by_event_name.frm
docker-mysql/performance_schema/events_statements_summary_by_user_by_event_name.frm
docker-mysql/performance_schema/events_statements_summary_global_by_event_name.frm
docker-mysql/performance_schema/events_transactions_current.frm
docker-mysql/performance_schema/events_transactions_history.frm
docker-mysql/performance_schema/events_transactions_history_long.frm
docker-mysql/performance_schema/events_transactions_summary_by_account_by_event_name.frm
docker-mysql/performance_schema/events_transactions_summary_by_host_by_event_name.frm
docker-mysql/performance_schema/events_transactions_summary_by_thread_by_event_name.frm
docker-mysql/performance_schema/events_transactions_summary_by_user_by_event_name.frm
docker-mysql/performance_schema/events_transactions_summary_global_by_event_name.frm
docker-mysql/performance_schema/events_waits_current.frm
docker-mysql/performance_schema/events_waits_history.frm
docker-mysql/performance_schema/events_waits_history_long.frm
docker-mysql/performance_schema/events_waits_summary_by_account_by_event_name.frm
docker-mysql/performance_schema/events_waits_summary_by_host_by_event_name.frm
docker-mysql/performance_schema/events_waits_summary_by_instance.frm
docker-mysql/performance_schema/events_waits_summary_by_thread_by_event_name.frm
docker-mysql/performance_schema/events_waits_summary_by_user_by_event_name.frm
docker-mysql/performance_schema/events_waits_summary_global_by_event_name.frm
docker-mysql/performance_schema/file_instances.frm
docker-mysql/performance_schema/file_summary_by_event_name.frm
docker-mysql/performance_schema/file_summary_by_instance.frm
docker-mysql/performance_schema/global_status.frm
docker-mysql/performance_schema/global_variables.frm
docker-mysql/performance_schema/host_cache.frm
docker-mysql/performance_schema/hosts.frm
docker-mysql/performance_schema/memory_summary_by_account_by_event_name.frm
docker-mysql/performance_schema/memory_summary_by_host_by_event_name.frm
docker-mysql/performance_schema/memory_summary_by_thread_by_event_name.frm
docker-mysql/performance_schema/memory_summary_by_user_by_event_name.frm
docker-mysql/performance_schema/memory_summary_global_by_event_name.frm
docker-mysql/performance_schema/metadata_locks.frm
docker-mysql/performance_schema/mutex_instances.frm
docker-mysql/performance_schema/objects_summary_global_by_type.frm
docker-mysql/performance_schema/performance_timers.frm
docker-mysql/performance_schema/prepared_statements_instances.frm
docker-mysql/performance_schema/replication_applier_configuration.frm
docker-mysql/performance_schema/replication_applier_status.frm
docker-mysql/performance_schema/replication_applier_status_by_coordinator.frm
docker-mysql/performance_schema/replication_applier_status_by_worker.frm
docker-mysql/performance_schema/replication_connection_configuration.frm
docker-mysql/performance_schema/replication_connection_status.frm
docker-mysql/performance_schema/replication_group_member_stats.frm
docker-mysql/performance_schema/replication_group_members.frm
docker-mysql/performance_schema/rwlock_instances.frm
docker-mysql/performance_schema/session_account_connect_attrs.frm
docker-mysql/performance_schema/session_connect_attrs.frm
docker-mysql/performance_schema/session_status.frm
docker-mysql/performance_schema/session_variables.frm
docker-mysql/performance_schema/setup_actors.frm
docker-mysql/performance_schema/setup_consumers.frm
docker-mysql/performance_schema/setup_instruments.frm
docker-mysql/performance_schema/setup_objects.frm
docker-mysql/performance_schema/setup_timers.frm
docker-mysql/performance_schema/socket_instances.frm
docker-mysql/performance_schema/socket_summary_by_event_name.frm
docker-mysql/performance_schema/socket_summary_by_instance.frm
docker-mysql/performance_schema/status_by_account.frm
docker-mysql/performance_schema/status_by_host.frm
docker-mysql/performance_schema/status_by_thread.frm
docker-mysql/performance_schema/status_by_user.frm
docker-mysql/performance_schema/table_handles.frm
docker-mysql/performance_schema/table_io_waits_summary_by_index_usage.frm
docker-mysql/performance_schema/table_io_waits_summary_by_table.frm
docker-mysql/performance_schema/table_lock_waits_summary_by_table.frm
docker-mysql/performance_schema/threads.frm
docker-mysql/performance_schema/user_variables_by_thread.frm
docker-mysql/performance_schema/users.frm
docker-mysql/performance_schema/variables_by_thread.frm
docker-mysql/symfony_test/cargo.frm
docker-mysql/symfony_test/cargo.ibd
docker-mysql/symfony_test/client.frm
docker-mysql/symfony_test/client.ibd
docker-mysql/symfony_test/db.opt
docker-mysql/symfony_test/manager.frm
docker-mysql/symfony_test/manager.ibd
docker-mysql/symfony_test/migration_versions.frm
docker-mysql/symfony_test/migration_versions.ibd
docker-mysql/symfony_test/user.frm
docker-mysql/symfony_test/user.ibd
docker-mysql/sys/db.opt
docker-mysql/sys/host_summary.frm
docker-mysql/sys/host_summary_by_file_io.frm
docker-mysql/sys/host_summary_by_file_io_type.frm
docker-mysql/sys/host_summary_by_stages.frm
docker-mysql/sys/host_summary_by_statement_latency.frm
docker-mysql/sys/host_summary_by_statement_type.frm
docker-mysql/sys/innodb_buffer_stats_by_schema.frm
docker-mysql/sys/innodb_buffer_stats_by_table.frm
docker-mysql/sys/innodb_lock_waits.frm
docker-mysql/sys/io_by_thread_by_latency.frm
docker-mysql/sys/io_global_by_file_by_bytes.frm
docker-mysql/sys/io_global_by_file_by_latency.frm
docker-mysql/sys/io_global_by_wait_by_bytes.frm
docker-mysql/sys/io_global_by_wait_by_latency.frm
docker-mysql/sys/latest_file_io.frm
docker-mysql/sys/memory_by_host_by_current_bytes.frm
docker-mysql/sys/memory_by_thread_by_current_bytes.frm
docker-mysql/sys/memory_by_user_by_current_bytes.frm
docker-mysql/sys/memory_global_by_current_bytes.frm
docker-mysql/sys/memory_global_total.frm
docker-mysql/sys/metrics.frm
docker-mysql/sys/processlist.frm
docker-mysql/sys/ps_check_lost_instrumentation.frm
docker-mysql/sys/schema_auto_increment_columns.frm
docker-mysql/sys/schema_index_statistics.frm
docker-mysql/sys/schema_object_overview.frm
docker-mysql/sys/schema_redundant_indexes.frm
docker-mysql/sys/schema_table_lock_waits.frm
docker-mysql/sys/schema_table_statistics.frm
docker-mysql/sys/schema_table_statistics_with_buffer.frm
docker-mysql/sys/schema_tables_with_full_table_scans.frm
docker-mysql/sys/schema_unused_indexes.frm
docker-mysql/sys/session.frm
docker-mysql/sys/session_ssl_status.frm
docker-mysql/sys/statement_analysis.frm
docker-mysql/sys/statements_with_errors_or_warnings.frm
docker-mysql/sys/statements_with_full_table_scans.frm
docker-mysql/sys/statements_with_runtimes_in_95th_percentile.frm
docker-mysql/sys/statements_with_sorting.frm
docker-mysql/sys/statements_with_temp_tables.frm
docker-mysql/sys/sys_config.frm
docker-mysql/sys/sys_config.ibd
docker-mysql/sys/sys_config.TRG
docker-mysql/sys/sys_config_insert_set_user.TRN
docker-mysql/sys/sys_config_update_set_user.TRN
docker-mysql/sys/user_summary.frm
docker-mysql/sys/user_summary_by_file_io.frm
docker-mysql/sys/user_summary_by_file_io_type.frm
docker-mysql/sys/user_summary_by_stages.frm
docker-mysql/sys/user_summary_by_statement_latency.frm
docker-mysql/sys/user_summary_by_statement_type.frm
docker-mysql/sys/version.frm
docker-mysql/sys/wait_classes_global_by_avg_latency.frm
docker-mysql/sys/wait_classes_global_by_latency.frm
docker-mysql/sys/waits_by_host_by_latency.frm
docker-mysql/sys/waits_by_user_by_latency.frm
docker-mysql/sys/waits_global_by_latency.frm
docker-mysql/sys/x@0024host_summary.frm
docker-mysql/sys/x@0024host_summary_by_file_io.frm
docker-mysql/sys/x@0024host_summary_by_file_io_type.frm
docker-mysql/sys/x@0024host_summary_by_stages.frm
docker-mysql/sys/x@0024host_summary_by_statement_latency.frm
docker-mysql/sys/x@0024host_summary_by_statement_type.frm
docker-mysql/sys/x@0024innodb_buffer_stats_by_schema.frm
docker-mysql/sys/x@0024innodb_buffer_stats_by_table.frm
docker-mysql/sys/x@0024innodb_lock_waits.frm
docker-mysql/sys/x@0024io_by_thread_by_latency.frm
docker-mysql/sys/x@0024io_global_by_file_by_bytes.frm
docker-mysql/sys/x@0024io_global_by_file_by_latency.frm
docker-mysql/sys/x@0024io_global_by_wait_by_bytes.frm
docker-mysql/sys/x@0024io_global_by_wait_by_latency.frm
docker-mysql/sys/x@0024latest_file_io.frm
docker-mysql/sys/x@0024memory_by_host_by_current_bytes.frm
docker-mysql/sys/x@0024memory_by_thread_by_current_bytes.frm
docker-mysql/sys/x@0024memory_by_user_by_current_bytes.frm
docker-mysql/sys/x@0024memory_global_by_current_bytes.frm
docker-mysql/sys/x@0024memory_global_total.frm
docker-mysql/sys/x@0024processlist.frm
docker-mysql/sys/x@0024ps_digest_95th_percentile_by_avg_us.frm
docker-mysql/sys/x@0024ps_digest_avg_latency_distribution.frm
docker-mysql/sys/x@0024ps_schema_table_statistics_io.frm
docker-mysql/sys/x@0024schema_flattened_keys.frm
docker-mysql/sys/x@0024schema_index_statistics.frm
docker-mysql/sys/x@0024schema_table_lock_waits.frm
docker-mysql/sys/x@0024schema_table_statistics.frm
docker-mysql/sys/x@0024schema_table_statistics_with_buffer.frm
docker-mysql/sys/x@0024schema_tables_with_full_table_scans.frm
docker-mysql/sys/x@0024session.frm
docker-mysql/sys/x@0024statement_analysis.frm
docker-mysql/sys/x@0024statements_with_errors_or_warnings.frm
docker-mysql/sys/x@0024statements_with_full_table_scans.frm
docker-mysql/sys/x@0024statements_with_runtimes_in_95th_percentile.frm
docker-mysql/sys/x@0024statements_with_sorting.frm
docker-mysql/sys/x@0024statements_with_temp_tables.frm
docker-mysql/sys/x@0024user_summary.frm
docker-mysql/sys/x@0024user_summary_by_file_io.frm
docker-mysql/sys/x@0024user_summary_by_file_io_type.frm
docker-mysql/sys/x@0024user_summary_by_stages.frm
docker-mysql/sys/x@0024user_summary_by_statement_latency.frm
docker-mysql/sys/x@0024user_summary_by_statement_type.frm
docker-mysql/sys/x@0024wait_classes_global_by_avg_latency.frm
docker-mysql/sys/x@0024wait_classes_global_by_latency.frm
docker-mysql/sys/x@0024waits_by_host_by_latency.frm
docker-mysql/sys/x@0024waits_by_user_by_latency.frm
docker-mysql/sys/x@0024waits_global_by_latency.frm
public/index2.html
Personal-Area-Symfony.zip
